  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "Impostograph";
    src: url("fonts/Impostograph.woff2") format('woff2');
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    color: #fff;
    /* font-family: "Impostograph", sans-serif; */
  }

  .impostograph {
    font-family: 'Impostograph';
  }