  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    color: #fff;
    /* font-family: "Impostograph", sans-serif; */
  }

